In [8]:
#case 9

d = int(input('d = '))
m = int(input('m = '))

d+=1  # d = d + 1

if m == 4 or m == 6 or m == 9 or m == 11:
    if d>30:
        d = 1
        m += 1
elif m == 2:
    if d>28:
        d = 1
        m = 3
else:
    if d>31:
        d = 1
        m += 1
    if m > 12:
        m = 1

print(d,m,sep='.')

d = 5
m = 4
6.4

In [15]:
d = int(input("d = "))
m = int(input('m = '))
y = int(input('y = '))

kabisa = False
if y%4==0:
    kabisa = True
if y%100==0 and y%400!=0:
    kabisa = False
    
d = d - 1

if m == 5 or m == 7 or m == 10 or m == 12:
    if d==0:
        d = 30
        m = m - 1
elif m == 3:
    if d == 0:
        d = 28 + kabisa
        m = 2
else:
    if d == 0:
        d = 31
        m = m - 1
    if m == 0:
        m = 12
        y = y - 1
        
print(d,m,y,sep='.')

d = 5
m = 6
y = 1000
4.6.1000

In [17]:
# case 10

taraf = input('Qayerga qarab turman = ')
buyruq = int(input('Buyruq = '))

if taraf == 's':
    if buyruq == 0:
        print("Shimol")
    if buyruq == 1:
        print("G'arb")
    if buyruq == 2:
        print("Sharq")
if taraf == 'sh':
    if buyruq == 0:
        print("Sharq")
    if buyruq == 1:
        print("Shimol")
    if buyruq == 2:
        print("Janub")
if taraf == 'j':
    if buyruq == 0:
        print("Janub")
    if buyruq == 1:
        print("Sharq")
    if buyruq == 2:
        print("G'arb")
if taraf == 'g':
    if buyruq == 0:
        print("G'arb")
    if buyruq == 1:
        print("Janub")
    if buyruq == 2:
        print("Shimol")

Qayerga qarab turman = sh
Buyruq = 2
Janub

In [20]:
# Case 15

m = int(input('m = '))
n = int(input('n = '))

if n == 6:
    print("Olti",end=' ')
if n == 7:
    print("Yetti",end=' ')
if n==8:
    print("Sakkiz",end=' ')
if n == 9:
    print("To'qqiz",end=' ')
if n == 10:
    print("O'n",end=' ')
if n == 11:
    print("Valet",end=' ')
if n == 12:
    print("Dama",end=' ')
if n == 13:
    print("Qirol",end=' ')
if n == 14:
    print("Tuz",end=' ')

if m == 1:
    print("G'isht")
if m == 2:
    print("Olma")
if m == 3:
    print("Chillak")
if m== 4:
    print("Qarg'a")

m = 3
n = 14
Tuz Chillak